.navbar-home {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
a.navbar-logout {
  color: rgb(66, 179, 230);
  background-color: #fff;
  padding: 0.35rem;
  border-radius: 6px;
}
